{% extends 'base.html' %}

{% block title %}Delete Staff{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Delete Staff</h1>
      <p class="card-text">Are you sure you want to delete the staff "{{ staff.full_name }}"?</p>
      <form method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
      </form>
      <a href="{% url 'staff:staff-detail' staff.pk %}" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
