{% extends 'base.html' %}
{% block title %}Invoice Details{% endblock %}
{% block content %}
<div class="invoice p-3 mb-3">
    <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> AdminLTE, Inc.
                    <small class="float-right">Date: {{ invoice.invoice_date }} </small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
            <div class="row invoice-info">
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  To
                  <address>
                    <strong>{{ invoice.patient }}</strong><br>
                    {{ invoice.patient.address }}<br>
                    Mobile: {{ invoice.patient.contact_number }}<br>
                  </address>
                </div>
                                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Invoice #{{ invoice.id }}</b><br>
                  <br>
                  Emargancy Contract: {{ invoice.patient.emergency_full_name }}<br>
                  Mobile: {{ invoice.patient.emergency_contact_number }}
                </div>
                <!-- /.col -->
              </div>
<div class="row">
    <div class="col-12 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th class="text-right">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in invoice.appointments.all %}
            <tr>
                <td>Appointment Fee:</td>
                <td>Doctor: {{appointment.doctor.full_name}}</td>
                <td>Date: {{appointment.appointment_date}}</td>
                <td class="text-right">{{ appointment.doctor.fees }}</td>
            </tr>
            {% endfor %}
            {% if invoice.bed_fee > 0 %}
            <tr>
                <td>Bed Fee: </td>
                <td>Ward No : {{ invoice.patient.allocated_bed.ward.ward_number }}, Bed No: {{ invoice.patient.allocated_bed.bed_number }}</td>
                <td>{{ invoice.admission_days }} days * {{invoice.patient.allocated_bed.ward.fee }} TK</td>
                <td class="text-right">{{ invoice.bed_fee }}</td>
            </tr>
            {% endif %}
        
            {% for medical_report in invoice.medical_reports.all %}
            <tr>
                <td>Medical Report - {{ medical_report.test_name }}</td>
                <td></td>
                <td></td>
                <td class="text-right">{{ medical_report.fee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
              <div class="row">
                <!-- /.col -->
                <div class="col-6"> </div>
                <div class="col-6">

                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>{{ invoice.total_amount }}</td>
                      </tr>
                      <tr>
                        <th>Discount:</th>
                        <td>{{ invoice.Discount }}%</td>
                      </tr>
                      <tr>
                        <th>Discount Amount:</th>
                        <td>{{ invoice.discount_amount}}</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td>{{ invoice.final_amount }}</td>
                      </tr>
                      <tr>
                        <th>Payment Status:</th>
                        {% if invoice.is_paid %}
                        <td> <strong>Paid</strong> </td> 
                        {% else %}
                        <td><strong>Unpaid<strong></td>
                        {% endif %}
                      </tr>
                    </table>
                  </div>
                </div>
            </div>
<script>
  window.addEventListener("load", window.print());
  var currentTimestamp = new Date().toLocaleString();
  document.getElementById("timestamp").textContent = currentTimestamp;
</script>
{% endblock %}